/* MapPage.css */

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.layout-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.map-container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.map-content {
  flex: 1;
}

.map-container h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.map-container p {
  margin: 10px 0;
  color: #666;
}

.map {
  position: relative;
  margin-top: 20px;
}

.place-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
}

.place-buttons button {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.place-buttons button:hover {
  background-color: #45a049;
}

.places-list {
  width: 90%;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.places-list h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.places-list ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.places-list li {
  margin: 5px 0;
  color: #666;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 12px;
}
